h1 {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 7px;

}

p {
    text-align: center;
    color: blue;
}

td {
    color: blue;
    vertical-align: top;
}

table {
    margin: 0 auto;
    border-spacing: 15px;
}

label {
    margin-right: 1rem;
}

.banner {
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
}

.banner span {
    font-size: 3rem;
}