:root {
    --color-primary: oklch(1 0 0);
    --color-secondary: oklch(.98 0 0);
    --color-mute: oklch(.7 0 0);
}

html,
body {
    background-color: var(--color-secondary);
    overflow: hidden;
}

* {
    font-family: sans-serif;
}

.titleBanner {
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 1rem 0;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 8em;
    padding-top: 1em;
}

.accountsettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 2em;
    gap: 1em;
}

.accountbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner {
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
    padding: 1rem 0;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 2rem;
}
.center > form {
    display: flex;
    gap: 1em;
}
.regform {
    display: flex;
    flex-direction: column;
    align-items: start;

}
.regform input {
    float: right;
}

.regform div {
    width: 100%;
}